---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<p>Office hours: <b>Wednesday, 13:40, 215 G.</b> Please e-mail me in advance.<br>  
  Konsultacje: <b>środy, 13:40, 215 G,</b> po wcześniejszym umówieniu się mailowym. <br>
  Dodatkowe konsultacje: środa, 27.11, 7:30, sala 223G.
</p>

{% include base_path %}

{% assign sorted = (site.teaching | sort: 'date') | reverse %}
{% for post in sorted limit:3 %}
  {% include archive-single.html %}
{% endfor %}

<p align="right"><a href="/teaching-archive/"><b>Previous courses</b></a></p>
