---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<p>Office hours: <b>Wednesday, 13:40, 215 G.</b> Please e-mail me in advance.<br>  
  Konsultacje: środy, 13:40, 215 G, po wcześniejszym umówieniu się mailowym. <br>
  Dodatkowe konsultacje: czwartek, <b>23.01, 8:00, sala 322G</b> oraz wtorek, <b>28.01, 13:30</b> tamże.
</p>

{% include base_path %}

{% assign sorted = (site.teaching | sort: 'date') | reverse %}
{% for post in sorted limit:3 %}
  {% include archive-single.html %}
{% endfor %}

<p align="right"><a href="/teaching-archive/"><b>Previous courses</b></a></p>
