---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
Office hours: Friday, 10:40. Please e-mail me in advance.<br>
Konsultacje: piątki, 10:40, po wcześniejszym umówieniu się mailowym.<br> 
<it>Uwaga! W dniu \textbf{15.05} konsultacje będą krótsze - zapraszam \textbf{11:10-11:40 do Jajka.}</it><br>
Proszę o kontakt, jeśli ktoś chciałby się spotkać w innym terminie.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<it>If not explicitly given, notes available upon request.</it>
